<h1>Editing User</h1>

<%= render 'form' %>
<div class="gravatar_edit">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target="_blank">Change</a>
</div>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
<br/>
<%= link_to 'Delete the Profil', @user, method: :delete,
                                     data: { confirm: 'Are you sure?' } %>
