<% provide(:title, "All Users") %>

<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
       <%= gravatar_for user, size: 50 %>
       <%= user.name %>
       <%= user.email %>
       <%= link_to 'Show', user %>
       <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "delete", user, method: :delete, data:{ confirm: "You sure?" } %>
       <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
